.sidebarChatWithButton {
  display: flex;
}

/*.sidebarChatWithButton:hover {
  background-color: #ebebeb;
}*/

.sidebarChat {
  flex: 1;
  display: flex;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

a {
  text-decoration: none !important;
  color: black;
}

.sidebarChat:hover {
  background-color: #ebebeb;
}

.sidebarChat__info {
  margin-left: 15px;
  flex: 1;
}

.sidebarChat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat__avatar.MuiAvatar-root {
}

.chatRoom__deleteButton {
  display: none;
  justify-self: flex-end;
  /*align-self: center;*/
  align-self: flex-end;
  /*margin-top: 20px;*/
  margin-right: 0.35rem;
  margin-left: 0.25rem;
}

.deleteButton.MuiIconButton-root {
  color: lightgray;
  height: 0.8rem;
  width: 0.8rem;
  /*background-color: rgb(247, 247, 247);*/
}

.sidebarChatWithButton:hover .chatRoom__deleteButton {
  display: inline-block;
}

/*.chatRoom__gray {
  background-color: #ebebeb;
}*/

.chatRoom__deleteButton__gray {
  display: none !important;
}

@media (max-width: 621px) {
  .sidebarChat__createTitle {
    font-size: 1rem;
  }
  /*.MuiAvatar-img {*/
  .MuiAvatar-circle {
    width: 1.85rem !important;
    height: 1.85rem !important;
  }
  .sidebarChat__info__roomName {
    font-size: 0.875rem !important;
  }
  .sidebarChat__info__lastMsg {
    font-size: 0.785rem;
  }
}

@media (max-width: 600px) {
  a.sidebarChat {
    padding: 1.2rem !important;
  }
  .sidebarChat__info {
    margin-left: 0.5rem !important;
  }
  .sidebarChat__info__roomName {
    font-size: 0.7rem !important;
  }
  /*.MuiAvatar-img {*/
  .MuiAvatar-circle {
    width: 1.65rem !important;
    height: 1.65rem !important;
    margin-right: 0.35rem;
  }
  .sidebarChat__info__lastMsg {
    font-size: 0.7rem !important;
  }
  .deleteButton.MuiIconButton-root {
    /*height: 0.65rem !important;
    width: 0.65rem !important;*/
  }
}

@media (max-width: 540px) {
  a.sidebarChat {
    padding: 1rem !important;
  }
  .sidebarChat__info {
    margin-left: 0.3rem !important;
  }
  .sidebarChat__createTitle {
    font-size: 0.85rem;
  }
  .sidebarChat__info__lastMsg {
    font-size: 0.6rem !important;
  }
}

@media (max-width: 480px) {
  .sidebarChat__createText {
    /*padding: 0.8rem;*/
  }
  a.sidebarChat {
    /*padding: 0.35rem 0.475rem 0.35rem 0.35rem !important;*/
    /*padding: 0.8rem !important;*/
  }
  .sidebarChat__createTitle {
    /*font-size: 0.6rem;*/
  }
  /*.MuiAvatar-img {*/
  .MuiAvatar-circle {
    width: 1.3rem !important;
    height: 1.3rem !important;
  }
  .sidebarChat__info {
    /*display: flex;
    align-items: center;*/
  }
  .sidebarChat__info__lastMsg {
    font-size: 0.55rem !important;
    margin-top: 0.3rem;
    margin-right: 0.15rem;
    /*display: none;*/
  }
  .sidebarChat__info__roomName {
    font-size: 0.65rem !important;
    margin-bottom: 0 !important;
  }
  .deleteButton.MuiIconButton-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 430px) {
  a.sidebarChat {
    padding-left: 0.4rem !important;
    padding-right: 0.5rem !important;
  }
}

@media (max-width: 357px) {
  .sidebarChat__createTitle {
    font-size: 0.7rem;
  }
  a.sidebarChat {
    padding: 1.15rem 0.2rem 1rem 0.5rem !important;
    /*padding-right: 0.3rem !important;*/
  }
  .chatRoom__deleteButton {
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }
}

@media (max-width: 345px) {
  .sidebarChat__createText {
    padding: 1rem 0.75rem 1rem 0.8rem !important;
  }
  a.sidebarChat {
    padding: 1.15rem 0.1rem 1rem 0.5rem !important;
  }
  .sidebarChat__info__lastMsg {
    font-size: 0.5rem !important;
    margin-top: 0.3rem;
    margin-right: 0.15rem;
    /*display: none;*/
  }
}

@media (max-width: 330px) {
  .MuiAvatar-circle {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }
  a.sidebarChat {
    padding: 1.15rem 0 1rem 0.35rem !important;
  }
  .sidebarChat__info {
    margin-left: 0.15rem !important;
  }
  .sidebarChat__info__roomName {
    font-size: 0.6rem !important;
  }
}

@media (max-width: 300px) {
  a.sidebarChat {
    padding: 1.15rem 0 1rem 0.235rem !important;
  }
}
